body {
    font-family:'Poppins', sans-serif;
    padding: 50px 20px;
}

.box1{
    margin-bottom: 33px;
}
.image {
    border-radius: 50%;
    width: 213px;
    height: 213px;
    border: 2px solid #BB99DD;
    padding: 6px;
    box-sizing: border-box;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.insta{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: #BB99DD;
    margin:15px 0 0;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 68px;
}

a.link {
    border: #BB99DD solid 2px;
    width: 326px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #BB99DD;
}

.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}
